DATABASE_URL=postgresql+asyncpg://sward:sward@localhost:5432/cursos_recursos_db
AWS_REGION=us-east-1
AWS_S3_BUCKET=sward-recursos-educativos
EVENTBRIDGE_BUS_NAME=sward-event-bus
LMS_SERVICE_URL=http://localhost:8002
ENVIRONMENT=development
